
@{
    ViewBag.Title = "Validar";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <table class="center" align="center">
        <tr>
            <td>Ingrese Usuario</td>
            <td>@Html.TextBox("user")</td>
        </tr>
        <tr>
            <td>Ingrese Clave</td>
            <td>@Html.Password("password")</td>
        </tr>
        <tr>
            <td> <input type="submit" value="Ingresar" onclick="Validar()" /></td>
        </tr>
    </table>
}
